<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <h1>Contact Information:</h1>
    <ul class="no-bullets">
        <li class="bold-item">Fall Creek Village I</li>
        <li>Attn: Office</li>
        <li>3515 N. Pennsylvania St.</li>
        <li>Indianapolis, IN 46205</li>
        <hr>
        <li>phone: (317) 925-5558</li>
        <li>email: inbox@vistulaofindiana.com</li>
        <li>fax: (317) 203-7000</li>
        <li>tty: 711 or (800) 743-3333</li>
    </ul>

    
  </body>
</html>
