<!DOCTYPE html>
<html>
<head>
    <title>Apartment Marketing</title>
</head>
<body>
    <h1>Welcome to Our Apartment Building!</h1>
    
    
    <p>We have a range of comfortable apartments to choose from. Come and experience a luxurious lifestyle with these amenities:</p>
    <ul>
        <li>Swimming Pool</li>
        <li>Gym</li>
        <li>Spa</li>
        <li>Parking</li>
    </ul>

    <!-- Insert images using Flask-Images -->
    <img src="{{ url_for('static', filename='images/eho_signage.png') }}" alt="Apartment 1">

</body>
</html>
